# macOS
.DS_Store
.AppleDouble
.LSOverride

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# Python packages
*.egg-info/
*.egg
*.eggs/
*.eggs-info/
*.eggs-info

# Python virtual environments
.venv/
venv/
env/
env.bak/
env.bak

# Python cache
.cache/
.cache-*/
.cache-info/
.cache-info


# Python build
build/
dist/

.ipynb_checkpoints/


# firmware
firmware/test.py
# CircuitPython board images (keep deploy/bin/.gitkeep tracked)
tools/bin/*.bin

# backup files
tools/settings_backups/slot_0/*
tools/settings_backups/slot_1/*
tools/settings_backups/slot_2/*

tools/sd_from_device/*
